################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs
/src/bin/Debug
/src/BuildingBlocks/BuildingBlocks/bin
/src/BuildingBlocks/BuildingBlocks/obj
/src/obj
/src/Services/Basket/Basket.API/bin
/src/Services/Basket/Basket.API/obj
/src/Services/Catalog/Catalog.API/bin
/src/Services/Catalog/Catalog.API/obj
/src/Services/Discount/Discount.Grpc/bin
/src/Services/Discount/Discount.Grpc/obj
/src/Services/Ordering/Ordering.API/bin
/src/Services/Ordering/Ordering.API/obj
/src/Services/Ordering/Ordering.Application/bin
/src/Services/Ordering/Ordering.Application/obj
/src/Services/Ordering/Ordering.Domain/bin
/src/Services/Ordering/Ordering.Domain/obj
/src/Services/Ordering/Ordering.Infrastructure/bin
/src/Services/Ordering/Ordering.Infrastructure/obj
/src/ApiGateways/YarpApiGateway/bin
/src/ApiGateways/YarpApiGateway/obj
/src/BuildingBlocks/BuildingBlocks.Messaging/bin
/src/BuildingBlocks/BuildingBlocks.Messaging/obj
/src/IdentityServer/bin
/src/IdentityServer/obj
/src/WebApps/Shopping.Web/bin
/src/WebApps/Shopping.Web/obj
